layout: default.twig
providers:
    all_projects:
        provider: RichElements
        folder: projects

---

<section id="introduction">

    <div id="circle"
         data-anchor-target="#portfolio"
         {#data-510-top-top="top: 235px;"#}
         {#data-111-top-top="top: -251px;"#}
         data-510-top-top="transform: scale(1.0);"
         data-311-top-top="transform: scale(0.0);"
         data-795="transform: rotateX(0deg);"
         data-995="transform: rotateX(180deg);"
         data-1394="transform: rotateX(180deg);"
         data-1594="transform: rotateX(0deg);"
    >
        <div id="circle_hello" class="circle_content"
                data-250="opacity: 1.0;"
                data-390="opacity: 0.0;"
        ></div>
        <div id="circle_i_m_art_director" class="circle_content"
                data-270="opacity: 0.0;"
                data-420="opacity: 1.0;"
                data-894="opacity: 1.0;"
                data-896="opacity: 0.0;"
        ></div>
        <div id="circle_yeah"
                data-450="opacity: 0.0; top:  10px; right: -44px; transform: scale(0.2);"
                data-570="opacity: 1.0; top: -32px; right: -96px; transform: scale(1.0);"
                data-894="opacity: 1.0; top: -42px; right: -106px;"
                data-896="opacity: 0.0;"
        ></div>
        <div id="circle_and" class="circle_content"
                data-0894="opacity: 0.0;"
                data-0896="opacity: 1.0;"
                data-1493="opacity: 1.0;"
                data-1495="opacity: 0.0;"
        ></div>
        <div id="circle_illustrator" class="circle_content"
                data-1493="opacity: 0.0;"
                data-1495="opacity: 1.0;"
                data-1990="opacity: 1.0;"
                data-2190="opacity: 0.0;"
        ></div>
        <div id="circle_pen_left"
                data-1493="opacity: 0.0;"
                data-1495="opacity: 1.0;"
                data-1990="opacity: 1.0;"
                data-2190="opacity: 0.0;"
        ></div>
        <div id="circle_pen_right"
                data-1493="opacity: 0.0;"
                data-1495="opacity: 1.0;"
                data-1990="opacity: 1.0;"
                data-2190="opacity: 0.0;"
        ></div>
        <div id="circle_that_s_my_work" class="circle_content"
                data-1990="opacity: 0.0;"
                data-2190="opacity: 1.0;"
        ></div>
    </div>

    <div id="introduction_row01" class="row row01"></div>
    <div class="row row02"></div>
    <div class="row row03"></div>
    <div class="row row04"></div>
    <div class="row row05"></div>

</section>



<section id="portfolio">

    {% for project in this.providers.all_projects %}
    <article>
        <figure>
            <img src="{{ project.thumbnail }}" alt="Thumbnail for {{ project.title }}">
            <figcaption>
                <span class="title">{{ project.title }}</span>
                <br>
                <span class="client">- {{ project.client }} -</span>
            </figcaption>
        </figure>
    </article>
    {% endfor %}

</section>



<section id="info">

</section>



<section id="contact">

</section>
