
//// CHROMES

@colorBlack: #000;
@colorWhite: #fff;
@colorGrey: #a6a6a6;


//// METRICS
// Warning : changing this might break some skrollr animations

@widthContainer: 980px;
@heightHeader:   60px;
@heightIntroRow: 600px;
@circleRadius:   125px;