
// Section d'introduction, avec le cercle noir et les images en dessous
// Si tu rajoutes des lignes, rajoute des rowXX ici avec le bg approprié

#introduction {

  .row {
    height: 600px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .row01 {
    background-image: url('../media/img/introduction/01.jpg');
  }

  .row03 {
    background-image: url('../media/img/introduction/01.jpg');
  }

}