
// This is the introduction section, with the scrolling animated black circle
// and the background images behind, numeroted rowXX.

@import "configuration";

#introduction {

  .row01 {
    background-image: url('../media/img/introduction/01.jpg');
  }

  .row02 {
    background-image: url('../media/img/introduction/02.jpg');
  }

  .row03 {
    background-image: url('../media/img/introduction/03.jpg');
    //background-attachment: fixed;
  }

  .row04 {
    background-image: url('../media/img/introduction/04.jpg');
    @intensity: 18px;
    // remember -moz and other vendors
    -webkit-box-shadow:  inset  0  @intensity @intensity -@intensity - 1 @colorShadow,
                         inset  0 -@intensity @intensity -@intensity @colorShadow;
  }

  .row05 {
    background-image: url('../media/img/introduction/05.jpg');
  }

  .row {
    height: 0; // overriden by js to window.height()
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: @colorBlack;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: fixed;
    z-index: 10;
  }

  .row.space {
    position: inherit !important;
    background-color: inherit !important;
    // height overriden by js to 5 times window.height()
  }

  #row_container {
    height: 0; // overriden by js to window.height()
  }

  #circle {
    display: none;

    position: fixed;
    top: -2 * @circleRadius; // overriden by js
    z-index: 100;

    width:  @circleRadius * 2;
    height: @circleRadius * 2;

    overflow: visible;
    border-radius:         50%;
    -moz-border-radius:    50%;
    -webkit-border-radius: 50%;
    background-color: @colorBlack;

    .circle_content {
      position: absolute;
      width:  @circleRadius * 2;
      height: @circleRadius * 2;

      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  #circle_hello {
    background-image: url('../media/img/circle/hello.png');
  }

  #circle_i_m_art_director {
    background-image: url('../media/img/circle/i-m-art-director.png');
  }

  #circle_yeah {
    position: absolute;
    top:   -42px;
    right: -106px;

    width:  96px;
    height: 96px;
    background: url('../media/img/circle/yeah.png') no-repeat center center;
  }

  #circle_and {
    background-image: url('../media/img/circle/and.png');
  }

  #circle_illustrator {
    background-image: url('../media/img/circle/illustrator.png');
  }

  #circle_pen_left {
    position: absolute;
    top:   13px;
    left: -68px;

    width:  64px;
    height: 232px;
    background: url('../media/img/circle/pen_left.png') no-repeat center center;
  }

  #circle_pen_right {
    position: absolute;
    top:    13px;
    right: -68px;

    width:  64px;
    height: 232px;
    background: url('../media/img/circle/pen_right.png') no-repeat center center;
  }

  #circle_that_s_my_work {
    background-image: url('../media/img/circle/that-s-my-work.png');
  }

}