
@import "configuration";
@import "reset";
@import "normalize";
@import "introduction";
@import "portfolio";
@import "information";




//// MIXINS //

.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.fixed {
  position: fixed;
}
.transparent {
  opacity: 0;
}
.smooth {
  -webkit-transition: all 0.5s ease-in-out;
  -khtml-transition:  all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
  transition:         all 0.5s ease-in-out;
}


//// GLOBAL TAGS

html {

}

body {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

hr {

}


//// SELECTION

::-moz-selection {
  background: lighten(@colorBlack,10%);
  color: darken(@colorWhite, 10%);
  text-shadow: none;
}

::selection {
  background: lighten(@colorBlack,10%);
  color: darken(@colorWhite, 10%);
  text-shadow: none;
}


//// HEADER

header {

  height: @heightHeader;
  background-color: @colorBlack;

  .container {
    width: @widthContainer;
    overflow: auto;
    margin: 0 auto;
  }

  h1 {
    float: left;
    font-size: 0;
    height: @heightHeader;
    width: 120px;
    margin-right: 50px;

    background: url('../media/img/hellopoyt-white.png') no-repeat center center;
  }

  a {
    color: @colorWhite;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;

    display: block;
    float:   left;
    line-height: @heightHeader;
    padding: 0 25px;

    .smooth;

    &:hover {
      background-color: @colorWhite;
      color: @colorBlack;
    }
  }

}


//// FOOTER

footer {
  height: 300px;
  background-color: @colorBlack;
}
