.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.clear {
  clear: both;
}
.fixed {
  position: fixed;
}
.transparent {
  opacity: 0;
}
.smooth {
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.slick {
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
}
#contact {
  clear: left;
  margin: 20px auto 50px auto;
  padding-top: 30px;
  width: 980px;
  overflow: visible;
}
#contact h2 {
  font-size: 0;
  width: 169px;
  height: 49px;
  background: url('../media/img/contact.png') no-repeat center center;
  margin: 0 auto;
}
#contact nav {
  width: 75%;
  margin: 42px auto 0 auto;
  overflow: auto;
  min-height: 210px;
}
#contact nav a {
  float: left;
  width: 33%;
}
#contact nav a img {
  border: 0;
  display: block;
  margin: 0 auto 0 auto;
}
#contact nav a span {
  display: block;
  margin: 10px auto 0 auto;
  height: 42px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#contact nav a:hover span,
#contact nav a:focus span {
  top: 10px;
}
#contact nav #contact_mail span {
  background-image: url('../media/img/mail.png');
}
#contact nav #contact_behance span {
  background-image: url('../media/img/behance.png');
}
#contact nav #contact_tumblr span {
  background-image: url('../media/img/tumblr.png');
}
