#introduction .row01 {
  background-color: #5de1d4;
  -webkit-box-shadow: inset 0 -13px 13px -13px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 -13px 13px -13px rgba(0,0,0,0.3);
  box-shadow: inset 0 -13px 13px -13px rgba(0,0,0,0.3);
}
#introduction .row {
  height: 656px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #5de1d4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 10;
}
#introduction .row.space {
  position: inherit !important;
  background-color: inherit !important;
}
#introduction #row_container {
  height: 0;
}
#introduction-title {
  position: absolute;
  z-index: 30;
  display: none;
  overflow: visible;
}
#circle {
  background-image: url('../media/img/introduction/hellopoyt.png');
  background-repeat: no-repeat;
  position: relative;
  width: 400px;
  height: 200px;
}
#introduction-background {
  position: absolute;
  z-index: 20;
  overflow: visible;
}
#home {
  background-image: url('../media/img/introduction/intro-bg.gif');
  background-repeat: no-repeat;
  position: relative;
  width: 640px;
  height: 400px;
}
