#introduction .row01 {
  background-image: url('../media/img/introduction/01.jpg');
}
#introduction .row {
  height: 0;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 10;
}
#introduction .row.space {
  position: inherit !important;
  background-color: inherit !important;
}
#introduction #row_container {
  height: 0;
}
#circle {
  background-image: url('../media/img/introduction/hellopoyt.png');
  display: none;
  position: fixed;
  z-index: 100;
  width: 605px;
  height: 237px;
  overflow: visible;
}
