.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.clear {
  clear: both;
}
.fixed {
  position: fixed;
}
.transparent {
  opacity: 0;
}
.smooth {
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.slick {
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
}
#portfolio {
  margin: 0 auto 0 auto;
  padding-top: 50px;
  width: 980px;
  overflow: auto;
}
#portfolio h2 {
  margin: 0 auto 50px auto;
  font-size: 0;
  width: 210px;
  height: 55px;
  background: url('../media/img/work.png') no-repeat center center;
  position: relative;
}
#portfolio a.project_thumbnail article {
  position: relative;
}
#portfolio a.project_thumbnail article div.rollover-go {
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../media/img/thumb-over.png') no-repeat center 10px;
  opacity: 0;
  pointer-events: none;
}
#portfolio a.project_thumbnail:hover article div.rollover-go {
  opacity: 1;
}
#portfolio a.project_thumbnail:hover article figcaption {
  color: #737373;
}
#portfolio a.project_thumbnail:hover article figcaption .client {
  color: #8d8d8d;
}
#portfolio article {
  float: left;
  padding: 10px 10px 10px 10px;
}
#portfolio article figcaption {
  padding-top: 13px;
  text-align: center;
  color: #a6a6a6;
  letter-spacing: 0;
}
#portfolio article figcaption .title {
  font-weight: bold;
}
#portfolio article figcaption .client {
  padding-top: 4px;
  font-size: 0.8em;
  color: #c0c0c0;
}
#details .detail {
  display: none;
  background-color: #efefef;
  margin: 40px auto;
  padding: 10px 0 30px 0;
  -moz-box-shadow: inset 0 13px 13px -14px rgba(0,0,0,0.3), inset 0 -13px 13px -13px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 13px 13px -14px rgba(0,0,0,0.3), inset 0 -13px 13px -13px rgba(0,0,0,0.3);
  box-shadow: inset 0 13px 13px -14px rgba(0,0,0,0.3), inset 0 -13px 13px -13px rgba(0,0,0,0.3);
}
#details .detail.visible {
  display: block;
}
#details .detail .container {
  width: 960px;
  margin: 0 auto;
}
#details .detail .container hr {
  width: 100%;
}
#details .detail h3 {
  text-align: center;
  font-size: 0.85;
  font-weight: bold;
  color: #333333;
  letter-spacing: 0;
}
#details .detail img.screenshot {
  border: 10px solid #fff;
  height: auto;
  width: 940px;
  -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.2);
}
#details .detail ul {
  margin: 25px 0 25px 25px;
  font-size: 14px;
  line-height: 16px;
}
#details .detail ul li span.key {
  display: inline-block;
  width: 60px;
  font-weight: bold;
  color: #a6a6a6;
}
#details .detail .additional-screenshots {
  padding-top: 25px;
}
#details .detail .additional-screenshots img {
  margin-bottom: 25px;
}
#details .detail .video {
  border: 10px solid #fff;
  width: 940px;
  -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.2);
  margin-bottom: 25px;
}
#details .nav {
  width: 110px;
  margin: 25px auto 0 auto;
  overflow: auto;
}
#details .buttons {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #000;
  background-repeat: no-repeat;
  background-image: url('../media/img/portfolio/sprite-arrows.png');
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#details .buttons.prev {
  float: left;
  background-position: 0 center;
}
#details .buttons.prev:hover,
#details .buttons.prev:focus {
  background-position: -5px center;
}
#details .buttons.next {
  float: right;
  background-position: -44px center;
}
#details .buttons.next:hover,
#details .buttons.next:focus {
  background-position: -39px center;
}
#details .buttons.exit {
  float: right;
  background-position: -88px center;
  margin-top: 25px;
  margin-right: 5px;
}
#details .buttons.exit:hover,
#details .buttons.exit:focus {
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#details .buttons.link {
  float: right;
  width: 55px;
  height: 55px;
  background: #000 url('../media/img/portfolio/link.png') no-repeat center center;
  font-size: 0;
}
#details .buttons.disabled {
  opacity: 0.17;
  pointer-events: none;
}
