<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>Hellopoyt!</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {#<meta name="viewport" content="width=device-width, initial-scale=1">#}

    <meta name="author" content="https://plus.google.com/118248552379361137285">
    <link rel="author" href="https://plus.google.com/118248552379361137285">

    <script src="scripts/modernizr-2.6.2.min.js"></script>

    <link rel="shortcut icon" href="favicon.ico">

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="styles/screen.css">

</head>
<body id="skrollr-body">

{% include './header.twig' %}

<div id="bowlG">
    <div id="bowl_ringG">
        <div class="ball_holderG">
            <div class="ballG">
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{ content }}
    {% include './footer.twig' %}
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="scripts/jquery-1.10.2.min.js"><\/script>')</script>
{#<script type="text/javascript" src="scripts/skrollr.js"></script>#}
<script type="text/javascript" src="scripts/plugins.js"></script>
<script>

    jQuery(document).ready(function ($) {

        // BLACK CIRCLE
        var $circle = $('#circle');
        var centerizeCircle = function(){
            var widthWindow = $(window).width();
            var heightWindow = $(window).height();
            $circle.css('left', (widthWindow - $circle.width())/2);
            $circle.css('top',  (heightWindow - $circle.height())/2);
        };

        $(window).on('resize', centerizeCircle);
        centerizeCircle();

        $circle.show();


        // INTRODUCTION BG IMAGES
        var updateIntroRows = function(){
            var heightWindow = $(window).height();
            $("#introduction .row").height(heightWindow);
            $("#introduction .row.space").height(heightWindow*5);
        };

        $(window).on('resize', updateIntroRows);
        updateIntroRows();


        // SKROLLR
        var sk = skrollr.init({
            mobileCheck: false,
            smoothScrolling: true,
            forceHeight: false
        });
        setTimeout(function(){
            skrollr.menu.init(sk);
        }, 300); // timeout is not cool


        // PROJECT DETAILS
        $("#portfolio > a").on("click", function(e){
            var $target = $($(this).attr('href'));
            $target.fadeIn();
        });
        $("#details a.buttons.exit").on("click", function(e){
            var $target = $(this).parents('.detail');
            $target.fadeOut();
        });
        $("#details a.buttons.next").on("click", function(e){
            e.preventDefault();
            var $target = $(this).parents('.detail');
            var $next = $target.next('.detail');

            if ($next.length) {
                $target.fadeOut(250, function(){
                    $next.fadeIn(250);
                    skrollr.menu.scrollTo($next.attr('id'));
                });
            }
        });
        $("#details a.buttons.prev").on("click", function(e){
            e.preventDefault();
            var $target = $(this).parents('.detail');
            var $prev = $target.prev('.detail');

            if ($prev.length) {
                $target.fadeOut(250, function(){
                    $prev.fadeIn(250);
                    skrollr.menu.scrollTo($prev.attr('id'));
                });
            }
        });


        // SPINNER
        $("#bowlG").hide();
        $("body > .container").css('opacity',1.0);

    });


</script>

</body>
</html>

