<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>Hellopoyt!</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {#<meta name="viewport" content="width=device-width, initial-scale=1">#}

    <meta name="author" content="https://plus.google.com/+AntoineGoutenoir">
    <link rel="author" href="https://plus.google.com/+AntoineGoutenoir">

    <script src="scripts/modernizr-2.6.2.min.js"></script>

    <link rel="shortcut icon" href="favicon.ico">

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="styles/screen.css">

</head>
<body>

{# HEADER #}
{% include './header.twig' %}

{# CONTENT #}
<div class="container">
    {{ content }}
    {% include './footer.twig' %}
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{# the following is used by your servant only when the internet is down and he has to code nonetheless #}
{#<script>window.jQuery || document.write('<script src="scripts/jquery-1.10.2.min.js"><\/script>')</script>#}
<script type="text/javascript" src="scripts/plugins.js"></script>
<script type="text/javascript">

    var sk;

    // LOADING: NN%
    var imagesLoadedCount = 0;
    jQuery(document).imagesLoaded()
            .always(function (instance) {
                // LOADING
                jQuery('#loading').hide();
                // SKROLLR
                if (sk) sk.refresh();
            })
            .progress(function (instance, image) {
                imagesLoadedCount++;
                var imagesLoadedTotal = instance.images.length;
                var progress = Math.round(100 * imagesLoadedCount / imagesLoadedTotal);
                jQuery('#loading-progress').text(progress.toString());
            });

    jQuery(document).ready(function ($) {

        // INTRODUCTION HELLOPOYT
        var $circle = $('#introduction-title');
        var centerizeCircle = function(){
            var widthWindow = $(window).width();
            var heightWindow = $(window).height();
            $circle.css('left', (widthWindow - $circle.width())/2);
            $circle.css('top',  (heightWindow - $circle.height())/2);
        };

        $(window).on('resize', centerizeCircle);
        centerizeCircle();

        setTimeout(function(){
            $circle.fadeIn(1000);
        }, 1000); // ghn.


        // INTRODUCTION BG IMAGES
        // not used anymore, but for later reference, refactor into "fullHeight" css class and other friends ?
//        var updateIntroRows = function(){
//            var heightWindow = $(window).height();
//            $("#introduction .row").height(heightWindow);
//            $("#introduction .row.space").height(heightWindow*5);
//        };
//        $(window).on('resize', updateIntroRows);
//        updateIntroRows();


        // SKROLLR
        sk = skrollr.init({
            mobileCheck: false,
            smoothScrolling: true,
            forceHeight: false
        });
        setTimeout(function(){
            skrollr.menu.init(sk);
        }, 300); // timeout is not cool


        // PROJECT DETAILS
        $("#portfolio > a").on("click", function(e){
            var $target = $($(this).attr('href'));
            $('#details .detail').hide();
            $target.fadeIn(500, function(){
                sk.refresh();
            });
        });
        $("#details a.buttons.exit").on("click", function(e){
            var $target = $(this).parents('.detail');
            $target.fadeOut(400, function(){
                sk.refresh();
            });
        });
        $("#details a.buttons.next").on("click", function(e){
            e.preventDefault();
            var $target = $(this).parents('.detail');
            var $next = $target.next('.detail');

            if ($next.length) {
                $target.fadeOut(250, function(){
                    $next.fadeIn(250, function(){
                        sk.refresh();
                    });
                    skrollr.menu.scrollTo($next.attr('id'));
                });
            }
        });
        $("#details a.buttons.prev").on("click", function(e){
            e.preventDefault();
            var $target = $(this).parents('.detail');
            var $prev = $target.prev('.detail');

            if ($prev.length) {
                $target.fadeOut(250, function(){
                    $prev.fadeIn(250, function(){
                        sk.refresh();
                    });
                    skrollr.menu.scrollTo($prev.attr('id'));
                });
            }
        });


    });

</script>

</body>
</html>

