<footer>
    <span id="hellopoyt-copyright">&copy; Hellopoyt 2010</span>
    <span id="goutte-credits">
        <a href="http://antoine.goutenoir.com" target="_blank" title="Enter the geek 'verse...">
            <img src="media/img/goutte.png" alt="Goutte" />
        </a>
        Powered by
    </span>
</footer>
