<header>
    <div class="container">
        <h1>Hellopoyt</h1>
        <nav>
            <ul>
                <li><a href="#portfolio">Work</a></li>
                <li><a href="#information">Info/Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
