<header>
    <div class="container">
        <h1><a href="#content-container">Hellopoyt</a></h1>
        <nav>
            <ul>
                <li><a href="#portfolio">Work</a></li>
                <li><a href="#information">About</a></li>
                <li id="loading"><span>Loading... <span id="loading-progress">0</span>%</span></li>
            </ul>
        </nav>
        <a class="email" href="{{ this.contact.mail }}">Mail me!</a>
    </div>
</header>
